<html>
<head><title>A Sample HTML Form</title></head>
<body>
  <h2 align="left">A Sample HTML Data Entry Form</h2>
  <form action="/register/user" method="POST">
    <input type="text" name="name" placeholder="Name"> <br/>
    <input type="text" name="age" placeholder="Age"> <br/>
    <input type="submit" value="Submit">
  </form>
</body>
</html>