<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> {{ timestamp }}</p>
    <h1>
        Profile 
    </h1>
    <div>
        <p>My name is {{ name }} I am {{ age }} years old. I work for {{ company }}. I use these languages  {{#languages}}{{.}}&nbsp;{{/languages}}</p>
        <h1>Programming Languages</h1>
        <ul>
            {{#languages}}
            <li>{{.}}</li>
            {{/languages}}
        </ul>
    </div>
    <div>
        <form action="/addprofile" method="POST">
            <div><input type="text" name="name" placeholder="Name"></div>
            <input type="text" name="age" placeholder="Age"> <br/>
            <input type="text" name="company" placeholder="Company"><br/>
            <input type="text" name="languages" placeholder="Languages"><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>