<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Simple Express API</title>
</head>
<body>
    <main class="mx-auto w-1/2  p-4 mt-10">
        <div class="bg-gray-200 p-4" >
            A simple express CRUD application hosted on Heroku with a PostgreSQL database 
            <br/> 
            <span class="text-bold">Author:</span> Papa Kofi Boahen
            <p>
                To access the API documentation, click <a href="/api-docs" class="underline font-bold">here</a>
            </p>
        </div>

        <div class="mt-5">
            <span>GitHub <a href="https://github.com/StormGear" target="_blank"> <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/></a> </span>
            <a href="https://www.linkedin.com/in/papakofiboahen" target="_blank"><span>LinkedIn <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></span></a>
        </div>
    </main>
</body>
</html>